{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>
    <form action="" method="POST">
        <div class="form-group">
            <textarea name="text" id="text" rows="1" cols="100" placeholder="Enter your text here..." onfocus="this.value = this.value;">{{ text }}</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Predict" class="btn btn-outline-info">
        </div>
    </form>
    <hr>
    <div class="article-metadata">
        <div class="form-group">
            <textarea disabled name="suggestion" id="suggestion" rows="1" cols="100" placeholder="Suggestions will be displayed here...">{{ first }}</textarea>
        </div>
    </div>
    <h1>Words</h1>
    {% for item in suggestions %}
                <textarea disabled rows="1" col="100">{{ item }}</textarea>
    {% endfor %}
{% endblock content %}